.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

main {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 20px;
}

h1, h2, h3 {
  margin-top: 0;
}

ul {
  padding: 0;
  margin: 0
}

p, label, a, button, select, input { 
  font-size: 1.1em;
}

select {
  text-align: center;
}

a {
  color: white;
}

a:hover {
  color: grey;
}

input, button {
  text-align: center;
}
input, label {
  margin-right: 8px;
}
label {
  /*display: block;*/
  margin-top: 12px;
}
button {
  background-color: aquamarine;
  border: 1px solid grey;
  font-size: 1.3em;
  padding: 8px 16px;
}
form {
  text-align: center;
}


ul.dashboard {
  width:100%;
}
.dashboard-item {
  background-color :#3e434e;
  border: 1px solid white;
  display: block;
  margin-right: 8px;
  margin-bottom: 10px;
  width: 100%;
  overflow:hidden;
}
.dashboard-item_frame {
  padding:10px;
}
@media (min-width: 480px)  { 
  .dashboard-item {
    width: 300px;
  }
  ul.dashboard {
    display:flex;
    flex-wrap: wrap;
  }
}

.graph {
  margin: 10px 0;
}
.graph-item {
  background: rgb(0, 100, 0)
}
.graph-item--negative {
  background-color: rgb(141, 22, 22);
}

.logs, .dashboard{
  list-style: none;
}

input, #units {
  height: 30px;
  min-width: 300px;
}
#units {
  height: 32px;
  min-width: 305px;
}

.inline {
  display: inline;
}
